.blocks {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.blocks__horizontal {
    width: 100%;
    height: 200px;
    background: #000;
    display: block;
    margin: 10px 0;
}

.blocks__vertical {
    display: inline-block;
    vertical-align: bottom;
    width: 295px;
    height: 250px;
    background: #000;
}

.blocks__vertical__mini {
    height: 150px;
}

.blocks__vertical:nth-of-type(odd) {
    margin-left: 10px;
}