.menu {
    width: 300px;
    margin: 15px auto;
    text-align: center;
}

.form {
    width: 300px;
    margin: 0 auto;
}

.form__fieldset {
    border-color: #eee;
}

.form__legend {
    color: #2e6da4;
    font-size: 13px;
}

.form-data__row {
    display: block;
    font-size: 15px;
    padding: 5px 0;
}

.form-data__input {
    width: 100%;
}

.form-data-title {
    font-weight: 700;
    width: 180px;
    padding: 5px 0 10px 0;
}

.form-data__label {
    padding: 5px;
    display: block;
}

.form-data-description {
    padding: 10px 15px;
}