.feedback {
    padding: 20px;
    color: #000;
    border: 1px solid #95b1b4;
    background: #fff;
    width: 320px;
    margin: auto;
}

.feedback__fieldset {
    margin: 10px 0;
    padding: 10px 25px;
    border: 1px solid #95b1b4;
    background: #e2f1ec;
}

.feedback__row {
    margin-bottom: 5px;
}

.feedback__label {
    display: block;
}

.feedback__input,
.feedback__textarea {
    margin-bottom: 8px;
    padding: 7px;
    border: 1px solid #95b1b4;
    background: #fff;
    width: 100%;
    transition: border 500ms, background 500ms;
}

.feedback__textarea {
    height: 100px;
}

.errorField {
    border: 1px solid #e2001a;
    background: rgba(226, 0, 26, 0.2);
}

.feedback__button {
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #679094;
    background: #95b1b4;
    margin: 4px 0 0;
    cursor: pointer;
    transition: background 500ms, box-shadow 500ms;
}

.feedback__button:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    background: #d53548;
}